<h1>You should only see this if you are logged out</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div class="login-arrow">login arrow goes here</div>
<div class="container"><div class="logged-out-logo">logged out logo goes here</div></div>