<div class="span12" id="login">
	<a class="span2 offset9" href="#">Login</a>
</div>
<h1>You should only see this if you are logged out</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div class="login-arrow offset8"><img src="/arrow.png"></div>

<div class="logged-out-logo-container offset4"><div class="logged-out-logo"><img src="/back-drugs.png"><img src="/logo-refillist.png" style="width: 300px; height: 300px;"></div></div>