
<div class="login-arrow offset5"><img src="/arrow.png"></div>

<div class="logged-out-logo-container offset4"><div class="logged-out-logo"><img id="drugs" src="/back-drugs.png"><img class="offset4" id="ref-logo" src="/logo-refillist.png"></div></div>