<div class="app-content">
	<div class="app-columns">
		<div class="shelf">
			<div class="shelf-header">look at me, I'm in a shelf!!!!</div>
			by the way, you should only see this if you are logged in
			<!-- start of an item -->
			<div class="item-box">
				<span class="item-title">Example Item</span>
				<span class="item-description">This is our first item. It's awesome. It is my favourite.</span>
				<span>This item has <span class="remaining">35</span>% remaining</span>
			</div>
		</div>
	</div>
</div>