<div class="app-content">
	<div class="app-columns">
		<div class="shelf">
			<div class="shelf-header edit">look at me, I'm in a shelf!!!!</div>
			<!-- start of an item -->
			<div class="item-box">
				<div class="item-title edit">Example Item</div>
				<div class="item-description edit_area">This is our first item. It's awesome. It is my favourite.</div>
				<div>This item has <span class="remaining">35</span>% remaining</div>
			</div>
		</div>
	</div>
</div>