<div class="app-content">
	<div class="app-columns">
		<div class="shelf">
			<div class="shelf-header edit-shelf-title">look at me, I'm in a shelf!!!!</div>
			<!-- start of an item -->
			<div class="item-box">
				<div class="item-image pull-left"><img src="http://img4-2.cookinglight.timeinc.net/i/2002/07/0207p80d-whiskey-m.jpg"></div>
				<div class="item-title edit-item-title">Example Item</div>
				<div class="item-description edit-item-description">This is our first item. It's awesome. It is my favourite.</div>
				<div>This item has <span class="remaining">35</span>% remaining</div>
			</div>
		</div>
	</div>
</div>